#body {
    overflow: hidden;
    min-width:1200px;
    min-height: 700px;
    font-family: TimesNewRoman,Times New Roman,Times,Baskerville,Georgia,serif;
}
#content>div{
    margin-top: 2rem;
    padding: 0;
}
#translate{
    /* position: fixed; */
    top:0%;
    left: -12%;
    min-width: 20%;
    min-height:20% ;
    background: #4d2982;
    color : white;
    border-radius: 4px;
}

h5 { font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif; font-size: 20px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; }
h3 { font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif; font-size: 25px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; }
p,li,div,td,span { font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif; font-size: 16px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; }
blockquote { font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; }
pre { font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.5714px; }
.container{
    -webkit-box-shadow: -16px 16px 5px 0px rgba(0,0,0,0.75)!important;
    -moz-box-shadow: -16px 16px 5px 0px rgba(0,0,0,0.75)!important;
    box-shadow: 16px 16px 5px 0px rgba(0,0,0,0.75)!important;
    margin-bottom: 1rem;
}
/* header */
header{
    /* background: #FFA726; */
    color:white;
    overflow: hidden;
}
header img{
    /* margin-left: 2rem; */
    max-width: 6.9rem;
    /* margin-top: 0.8rem; */
}
header b{
    position: absolute;
  -webkit-animation: takeMe 0.2s infinite linear;
  -moz-animation: takeMe 0.2s infinite linear;
  animation: takeMe 0.2s infinite linear;

}
p[data-achie-des]{
  margin-bottom :0rem;
  font-weight: bold;
}
@-moz-keyframes takeMe {
 0%,25% {
 font-size:0.9rem;
}
 100%,75% {
 font-size:1rem;
}
}
@-webkit-keyframes takeMe {
 0%,25% {
 font-size:0.9rem;
}
 100%,75% {
 font-size:1rem;
}
}
@keyframes takeMe {
 0%,25% {
 font-size:0.9rem;
}
 100%,75% {
 font-size:1rem;
}
}
header.row .media{
    position: relative;
    background: #FFA726;
    color:black;
}
header.row .about-me{
    position: relative;
    word-wrap:break-word;
    /* min-width: 44.500%; */
    min-height: 5rem;
    z-index: 2;
}
header.row .about-me>span{
    display: block;
    position: absolute;
    top:0;
    left:-6rem;
    content: "";
    width: 50%;
    height: 100%;
    background-color: #4d2982;
    transform: skewX(25deg);
    z-index: -1;
}
header.row .about-me>p{
    width: 90%;
    margin: 1rem 1rem 0rem 1rem;
}
header.row .about-me>h3{
    margin:1rem;
}
header .media{
    padding: 2rem 2rem 1.5rem;
}
header .media-body{
       margin-top:1rem;
    }

header .media-body p {
    line-height: 7px;
}
@media only screen and (min-width: 1200px) {
#attributes,#achievement{
    left:2rem;
}
header.row .media{
    top: 0px;
    width: 55.4%;
    min-height: 12rem;
}
header.row .about-me{
    min-height: 12rem;
    width: 44.5%;
    background: #4d2982;
}
/*chrome*/
@media screen and (-webkit-min-device-pixel-ratio:0){
  header.row .about-me{
    min-width: 44.502%;
    padding-top: 1rem;
}
}
/*firefox*/
@-moz-document url-prefix() {
 header.row .about-me{
    min-width: 44.500%;
}
}
.card{
    max-width: 30rem;
}
}
@media only screen and (max-width: 1199px) {
    header.row .media{
    top: 0px;
    width: 55.5%;
    min-height: 12rem;
}
header.row .about-me{
    min-height: 12rem;
    width: 44.5%;
    background: #4d2982;
}

}
@media only screen and (max-width: 991px) {
    header .media-body{
        display: block;
    }
    header.row .media {
      width : 45%;
    }
    header.row .about-me {
      width : 55%;
    }
    header.row .about-me>span{
        display: none;
    }
    .media .media-body p{
        display: none;
    }

.card-header::before {
        left: 99%;
}
}
@media only screen and (max-width: 767px) {

header.row .about-me>p {
    font-size: 15px;
}
header.row .media {
        width: 32%;
}
header.row .about-me {
        width: 68%;
}
header.row .media .media-body{
    display:none;
}
.media img{
    height: 84%;
}
.card{
    max-width: 35rem;
    margin-left:0.4rem;
}
}
@media only screen and (max-width: 578px) {

header.row .media {
    width: 32%;
}
header.row .about-me {
    width: 68%;
    height: 10.1rem;
}
}
@media only screen and (max-width: 565px) {
header.row .about-me {
    display:none;
}
header.row .media {
    width: 100%;
}
header.row .media .media-body{
        display: block;
    }
}
@media only screen and (max-width: 393px) {
  #loading{
      display: none;
  }
  #content{
    display: none;
  }

}
@media only screen and (max-width: 252px) {
header.row .media .media-body{
        display: none;
    }
}
@media only screen and (max-width: 194px) {
    header,section,footer{
display: none !important;
    }
}
/* section */
#achievement ul{
    /* list-style:square inside url("../img/squareCV.png"); */
    list-style:none;
}
#contract img:hover{
    opacity: 0.5;
}
#contract img{
    box-sizing: border-box;
    padding: 0.25rem 0.3rem 0.3rem;
}
#contract ul{
    margin-left: 0;
    padding: 0.5rem 1rem;
}
#contract .contact-panel div{
    float: left;
    padding-right: 0.5rem;
}
#contract li{
    color: #4d2982;
    list-style: none;
}
#contract a{
    color: #4d2982;
}
#social>div>div{
    width: 2.3rem;
    height: 2.3rem;
    border-radius: 50%;
    border: 2px solid #4d2982;
}
#social img:hover{
  cursor: pointer;
}
/* .card-header:hover:after{
    background-color: #000;
} */
#screen{
    position: relative;
     margin: 0.4rem 0.1rem 0.1rem 0rem;
    /*padding:0.4rem; */
    box-sizing: border-box;
    width: 100%;
    height: 11rem;
    /* background: #FFA726; */
    overflow: hidden;
    border: 1px solid rgba(0,0,0,.125);
}
.list-style{
    margin-right: 0.5rem;
    position: relative;
    width: 0.8rem;
    height: 0.8rem;
    background: #FFA726;
    left: 0.2rem;
    /* top: -0.2rem; */
    float: left;
}
.list-style>span{
    margin-right: 0.5rem;
    position: absolute;
    width: 0.8rem;
    height: 0.8rem;
    background: #4d2982;
    left: -0.2rem;
    top: 0.2rem;
}
.custom-box>div{
    position: relative;
    height: 2rem;
    width: 100%;
    border-bottom: 1px solid rgba(0,0,0,.125) !important;
}
.custom-box h6{

    position: relative;
    text-shadow: -1px -1px rgba(0,0,0,.125);
    color: #FFA726;
    float: left;
}
.custom-box>div:nth-child(1)>b{
    position: relative;
    color: #FFA726;
    float: right;
}
section .border-light {
    margin-top: 1.5rem;
}
/* footer */
footer>div:nth-child(1){
width: 100%;
min-height: 3rem;
background: #FFA726;
}
footer>div:nth-child(2){
width: 100%;
min-height: 1rem;
background:#4d2982;
}
/* class */
.custom-box li{
    color:#4d2982;
    margin:1%;
    width: 100%;
}
#achievement .custom-box li{
    color:#4d2982;
    margin:4% 0%;
    width: 100%;
}
.custom-box a{
    color:#4d2982;
}
#skill td{
    color:#4d2982;
}
.custom-box{
    list-style : none;
    padding: 0%;
}
.card-header {
    display: block;
    height: 2.9rem;
    width: 89%;
    padding: 20px;
    position: relative;
    top: 0px;
    z-index: 2;
    background: #FFA726;
    color: white;
    }

    .card-header>span {
    /* content: ""; */
    height: 95%;
    left: 0px;
    top: 10px;
    width: 110%;
    position: absolute;
    z-index: -1;
    background: #4d2982;
    }

    .card-header::before {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 4.7rem 4.5rem 0;
    border-color: transparent white transparent transparent;
    content: "";
    left: 99%;
    top: -2%;
    position: absolute;
    z-index: 2;
    background: none;
    }
    .card-header,.card{
        border-radius: 0 !important;
    }
    .skill-circle{
        position: absolute;
        border-radius: 50%;
        line-height: 10rem;
        color:white;
            font-size: 1.4rem;
    }
    #attributes>div:nth-child(2)>div:nth-child(1){
        width: 35%;
        height: 50%;
        background: #e66565;
        opacity: 0.5;
        left: 47%;
    }
    #attributes>div:nth-child(2)>div:nth-child(2){
        width: 39%;
        height: 58%;
        background: #4d2982;
        opacity: 0.5;
        left: 17%;
        top: 36%;
    }
    #attributes>div:nth-child(2)>div:nth-child(3){
        width: 28%;
        height: 41%;
        background: #FFA726;
        opacity: 0.5;
        left: 50%;
        top: 58%;
    }
    #attributes>div:nth-child(2){
        width: 100%;
        height: 17rem;
    }
    #tb-skill{
        list-style:none;
    }
    /* .circle-skill{
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background: green;
    } */
    .tb-circle{
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
    }
    .check{
        background: #4d2982;
    }

    .border-circle{
        transform: scale(1.2);
        box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.4), rgba(255, 255, 255, 0.1) 0 1px 0;
        border: 1px solid rgba(0, 0, 0, 0.25);
        text-shadow: rgba(0, 0, 0, 0.796875) 0 -1px 0, rgba(255, 255, 255, 0.296875) 0 0 10px;
        cursor: pointer;
    }
    .uncheck{
        background: #FFA726;
    }
    
  /*rotateSquare*/
.rotateSquare {
  -webkit-animation: rotateSquare 2s linear infinite; /* Safari 4.0 - 8.0 */
  animation: rotateSquare 2s linear infinite;
  transform: rotate(0deg);
}
#achievement ul{
    cursor: crosshair;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes rotateSquare {
  100%,0% {transform: rotate(0deg);opacity: 0;}
  80%,20% {transform: rotate(360deg);opacity: 1;}
}
/* Standard syntax */
@keyframes rotateSquare {
  100%,0% {transform: rotate(0deg);opacity: 0;}
  80%,20% {transform: rotate(360deg);opacity: 1;}
}

.rubberBand {
  /* -webkit-animation-name: rubberBand;
  animation-name: rubberBand; */
  -webkit-animation: rubberBand 3s linear infinite running;
  animation: rubberBand 3s linear infinite running;
}
section h5{
    position :absolute;
}
